<div class="buttons">
    
    <button type="button" (click)="save()">Save Plan</button>
    <button type="button" (click)="clear()">Clear Plan</button>
  
</div>
<div class="text">
    <p class="info">If you want make a new plan, first use button "Clear", add all elemens and then press "Save"</p><br>
</div>

<div class="main">
<div class="days" *ngFor="let day of weekdays">
    <p class="weekday">{{day.day}}</p>
    <span>   
        <p class="meals">Breakfast:</p>
        <select class="breakfast"[(ngModel)]="day.breakfast">
        <ng-container *ngFor="let recep of receplist">
        <option  *ngIf="recep.category==='Breakfast'" value={{recep.name}}>{{recep.name}}</option>
        </ng-container>
     </select><br>
    </span>
    <span>   
        <p class="meals">Work:</p>
        <select class="work"[(ngModel)]="day.work">
        <ng-container *ngFor="let recep of receplist">
        <option  *ngIf="recep.category==='Breakfast'" value={{recep.name}}>{{recep.name}}</option>
        </ng-container>
     </select><br>
    </span>
    <span >   
        <p class="meals">Lunch:</p>
        <select class="Lunch"[(ngModel)]="day.lunch">
        <option> Other </option>
        <option> Eating out </option>
        <ng-container *ngFor="let recep of receplist">
        <option  *ngIf="recep.category==='Lunch'" value={{recep.name}}>{{recep.name}}</option>
        </ng-container>
     </select><br>
    </span>
    <span>   
        <p class="meals">Dinner:</p>
        <select class="Dinner" [(ngModel)]="day.dinner">
        <option> Other </option>
        <option> Eating out </option>
        <option *ngFor="let recep of receplist" value={{recep.name}}>{{recep.name}}</option>
     </select><br>
    </span>
</div>
</div>

