@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


li,a,button{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #092834;
    text-decoration: none;
}
header {
    position: relative;
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: #FE2712;
    cursor: pointer;
}
.logo{
    position: absolute;
    top: 20% ;
    left: 1%;
}


.navbar{
    list-style: none;
}

.navbar li{
    position: relative;
    top: 5px;
    display: inline-block;
    padding: 0px 30px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
}
.navbar li a:hover{
    color:#B2D732
}
